<configuration>
    <appender name ="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name ="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            mylogs.log
        </file>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>mylogs-%d{HH-mm},%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>2</maxHistory>

        </rollingPolicy>
    </appender>

<root level="INFO">
    <appender-ref ref="consoleAppender"/>
    <appender-ref ref="fileAppender"/>
</root>
</configuration>